POSTGRES_DB=voice_club
POSTGRES_USER=voice_club
POSTGRES_PASSWORD=change_me

REDIS_PORT=6379
API_PORT=4000
WEB_PORT=3000
DATA_PROVIDER=file

LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=devsecret
LIVEKIT_WS_URL=ws://localhost:7880
SESSION_TTL_SECONDS=604800

TURN_REALM=voice.local
TURN_USER=turnuser
TURN_PASSWORD=turnpassword
