CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_ZONE_NAME=mashenin.site
CLOUDFLARE_TUNNEL_NAME=mashenin
CLOUDFLARE_WEB_HOST=mashenin.site
CLOUDFLARE_WWW_HOST=www.mashenin.site
CLOUDFLARE_API_HOST=api.mashenin.site
CLOUDFLARE_RTC_HOST=rtc.mashenin.site
CLOUDFLARE_WEB_ORIGIN_URL=http://host.docker.internal:3001
CLOUDFLARE_API_ORIGIN_URL=http://host.docker.internal:4000
CLOUDFLARE_RTC_ORIGIN_URL=http://host.docker.internal:7880
CLOUDFLARE_TUNNEL_ID=
CLOUDFLARE_TUNNEL_TOKEN=
TUNNEL_METRICS=0.0.0.0:2000
